/* 声明字体图标 这里的路径不能直接用'fonts/icomoon.eot?af13p3'*/

@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?af13p3');
    src: url('icomoon.eot?af13p3#iefix') format('embedded-opentype'), url('icomoon.ttf?af13p3') format('truetype'), url('icomoon.woff?af13p3') format('woff'), url('icomoon.svg?af13p3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}


/* 快捷导航模块 */

.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(2n) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 10px 14px 0;
}

.arrow-icon::after {
    content: '\ea52';
    font-family: 'icomoon';
    margin-left: 5px;
    font-size: 12px;
}


/* 头部模块 */

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 26px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    /* input和button是行内块元素，有缝隙要加浮动 */
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
    font-size: 14px;
}

.search button {
    float: left;
    width: calc(534px - 454px);
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin: 0 12px;
}

.shopcar {
    position: absolute;
    top: 26px;
    left: 996px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    font-size: 12px;
}

.shopcar::before {
    font-family: 'icomoon';
    content: '\e93a';
    margin-right: 7px;
    font-size: 12px;
    color: #d95151;
}

.shopcar::after {
    font-family: 'icomoon';
    content: '\ea51';
    margin-left: 13px;
    font-size: 12px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    padding: 0 5px;
    background-color: #e60012;
    line-height: 14px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}


/* 导航模块 */

.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    float: left;
    width: 208px;
    height: 45px;
    color: #fff;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    background-color: #b1191a;
    font-size: 16px;
}

.dropdown .dd {
    width: 100%;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 8px;
}

.dropdown .dd ul li::after {
    position: absolute;
    right: 12px;
    font-family: 'icomoon';
    content: '\ea51';
    color: #fff;
    font-size: 14px;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
    color: #c81623;
}

.dropdown .dd ul li:hover a {
    color: #c81623;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 44px;
    font-size: 16px;
}


/* 底部模块 */

.footer {
    height: 415px;
    padding-top: 30px;
    background-color: #f5f5f5;
}

.w .mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.w .mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 37px;
    padding-right: 37px;
}

.w .mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.w .mod_service ul li .one {
    background: url(icons.png) no-repeat -252px -3px;
}

.w .mod_service ul li .two {
    background: url(icons.png) no-repeat -255px -54px;
}

.w .mod_service ul li .three {
    background: url(icons.png) no-repeat -256px -105px;
}

.w .mod_service ul li .four {
    background: url(icons.png) no-repeat -258px -156px;
}

.w .mod_service ul li .five {
    background: url(icons.png) no-repeat -256px -208px;
}

.service_txt h4 {
    font-size: 14px;
    color: #333;
}

.service_txt p {
    font-size: 12px;
    color: #666;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.mod_help dl {
    float: left;
    width: 200px;
}

.mod_help dl:last-child {
    width: 100px;
    text-align: center;
}

.mod_help dl dt {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.mod_help dl dd a {
    color: #333;
}

.mod_copyright {
    padding-top: 20px;
    text-align: center;
}

.mod_copyright .links {
    margin-bottom: 15px;
}

.mod_copyright .links a {
    padding: 0 12px;
}

.copyright {
    line-height: 20px;
}
